# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django specific
db.sqlite3
*.log

# Environment variables
.env

# Virtual environment
venv/
env/

# Static files
staticfiles/
media/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db